* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#map {
    height: 600px;
    width: 972px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    height: 100%;
}

body {
    background-image: url("../images/sea.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
}

.nav {
    height: 70px;
    background-color: #253039;
    color: white;
}

.logo {
    color: #ffffff;
    font-size: 3em;
    font-weight: 300;
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.footer {
    text-align: center;
}