<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sea Units Monitoring</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>
<nav class="nav justify-content-center">
    <div>
        <a href="#" th:href="@{/app}" class="logo">
            <i class="fas fa-ship"></i>
        </a>
        <h2 style="display: inline";>Sea Units Monitoring</h2>
    </div>
</nav>
<div class="container pt-3">
    <div class="row w-100 justify-content-between">
        <div class="col-lg-3">
            <form th:action="@{/app}" th:method="Get">
                <select class="form-select" style="width: 300px;" name="unitType">
                    <option selected>Select Unit Type</option>
                    <option th:each="typeOption : ${T(com.kristovski.seaunitsmonitoring.model.seaunit.UnitType).values()}"
                            th:value="${typeOption.value}"
                            th:text="${typeOption.valueName}"></option>
                </select>
                <button type="submit" class="btn btn-secondary mt-2">Submit</button>
            </form>
        </div>
        <div class="col-lg-9">
            <div id="map"></div>
        </div>
    </div>
</div>
<footer class="footer pt-3">
    <div class="text-center p-3">
        <a th:href="@{https://github.com/KrisTovski}" th:target="_blank">
            <i class="fab fa-github fa-2x" style=" vertical-align: middle;"></i></a>
        Kristovski |
        <a target="_blank" href="https://icons8.com/icon/15615/viking-ship">Viking Ship</a>
        icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</footer>


<script th:inline="javascript">
    var map = L.map('map').setView([63.285, 9.872], 8);

    var LeafIcon = L.Icon.extend({
        options: {
            iconSize: [32, 32],
            shadowSize: [0, 0],
            iconAnchor: [16, 32],
            shadowAnchor: [0, 0],
            popupAnchor: [16, -16]
        }
    });

    var vikiingShip = new LeafIcon({
        iconUrl: 'https://img.icons8.com/color/100/000000/viking-ship.png'
    })

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var seaUnits = [[${seaUnits}]];

    seaUnits.forEach(value => {

        var polyline;

        L.marker([value.x, value.y], {
            icon: vikiingShip,
            title: value.name + " " + value.mmsi,
        }).addTo(map)
            .bindPopup(
                value.name + " mmsi: " + value.mmsi +
                "<hr>" +
                "Localisation: " +
                "<br>Latitude: " + value.x +
                "<br>Longitude: " + value.y +
                "<hr>" +
                "Weather conditions:" +
                "<br>Temp: " + value.temp + "°C" +
                "<br>Wind speed: " + value.windSpeed + "m/s" +
                "<br>" + value.description +
                "<br><img src='http://openweathermap.org/img/wn/" + value.icon + ".png'>"
            )
            .openPopup()
            .on('mouseover', () => {
                polyline = L.polyline([
                    [value.x, value.y],
                    [value.destinationX, value.destinationY]
                ]).addTo(map);
            })
            .on('mouseout', () => {
                map.removeLayer(polyline)
            })

        ;
    })
</script>

</body>
</html>